.education-form {
  width: 100%;
  background-color: var(--bg-light);
  margin-bottom: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.education-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;
}

.education-form-header p {
  font-size: 1.25rem;
  font-weight: bold;
}

.education-form-header button {
  background-color: var(--primary);
  color: var(--bg-light);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.education-form-header button:hover {
  opacity: 0.8;
  transform: translateY(-1px);
}

.education-form-content {
  margin-top: 1.5rem;
}
